*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.container {
  padding: 0 100px 0 100px;
}

nav ul,
.main-info-section,
.work-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body{
  background-color: #1f1f1f;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar{
  background-color: #181818;
}

.profile-image img{
  width: 450px;
  margin-top: 20px;
  margin-right: 90px;
}

/* maybe as a background image?? */
#profile{
  /*filter: grayscale(30%);*/
  opacity: 0.94;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1{
  color: #de9e48;
}

li{
  list-style: none;
  margin-left: 30px;
}

a{
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section{
  height: 80vh;
  background-image: url(https://raw.githubusercontent.com/siderocketeer0.github.io/portfolio/master/Images/background/sunrise.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

div[class^="picture-"]{
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: .5;
  filter: brightness(120%);
}

.picture-1{
  background-image: url(../Images/Background/IMG_3948.jpg);
}

.picture-2{
  background-image: url(../Images/Background/bridge.jpg);
  background-position: bottom;
}

.picture-3{
  background-image: url(../Images/Background/IMG_3945.jpg);
}



.text{
  margin-top: 120px;
}

.text h1{
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}

.text span{
  display: inline-block;
}


.text p{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
}

.text a{
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #7a431d;
  color: #7a431d;
  font-size: .8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
}

.text a:hover{
  color: #fff;
}

.text a::before{
  content: '';
  background-color: #7a431d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before{
  height: 100%;
}

.about{
  height: 70vh;
  /*margin-top: 100px;*/
}

.about h1,
.work h1{
  font-size: 10rem;
  z-index: 0;
  opacity: .1;
}

.about-me-info{
  max-width: 900px;
  background-color: #1f1f1f;
  box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
  padding: 50px 50px 20px 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.about-me-info p{
  font-size: 1.3rem;
  color: #BEBEBE;
}

.next-sentence{
  margin-top: 30px;
}



.social-buttons a{
  display: inline-flex;
  font-size: 18px;
  width: 40px;
  height: 40px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px 10px 0 10px ;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #7a431d, #de9e48);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg, #7a431d, #de9e48);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
.about img{
  width: 300px;
  position: relative;
  top: -250px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translate(calc(-100% + 100px));
}

.skills{
  height: 60vh;
}

.skills h1,
.contact h1{
  text-align: right;
  font-size: 10rem;
  opacity: .1;
}

.skills p{
  font-size: 1.4rem;
  color: #BEBEBE;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  text-align: center;
}

.work-category button{
  text-transform: capitalize;
  border: 3px solid #7a431d;
  padding: 15px 30px;
  border-radius: 50px;
  color: #7a431d;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background-color: #1f1f1f;
  outline: none;
  cursor: pointer;
}

div[class^='category-']{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}
.category-designing{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.work a{
  justify-self: center;
  position: relative;
  display: inline-block;
}

.work-category .active{
  background-color: #7a431d;
}

button.active{
  color: #fff;
}

.work a img{
  width: 350px;
  justify-self: center;
}

.work a{
  margin-top: 10px;
}

.work a img:hover{
  width: 360px;
  justify-content: center;
  transition: .4s;
}

#work{
  padding-bottom: 30px;
}

div.hideCategory{
  display: none;
}

.showCategory{
  display: block;
}

.contact{
  margin-top: 50px;
}

form input,
form textarea{
  display: block;
  width: 500px;
  padding: 20px;
  background-color: #1f1f1f;
  border: 3px solid #de9e48;
  margin:20px 0;
  outline: none;
  font-size: 1.2rem;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}

#send{
  width: 150px;
  background-color: #7a431d;
  border: none;
  cursor: pointer;
}

footer hr{
  border: 2px solid #de9e48;
  margin-top: 80px;
}

footer p{
  text-align: center;
  color: #de9e48;
  font-size: 1.2rem;
  padding: 30px 0;
}
